# Auto detect text files and perform LF normalization
* text=auto

# Exclude TMP shader files from statistics
Assets/TextMesh[[:space:]]Pro/Resources/Shaders/*.shader linguist-vendored
Assets/TextMesh[[:space:]]Pro/Resources/Shaders/*.cginc linguist-vendored
